body {
    font-family: 'Press Start 2P', cursive;
    padding: 0px;
    margin: 0px;
}

.game-container {
    background-color: #272727;
    height: 100vh;
    width: 100vw;
}

.crt::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

#counter {
    position: absolute;
    right: 2%;
    top: 2%;
    z-index: 10;
    font-size: 20px;
    color: #fff;
    z-index: 0;
}

.evilBall, .gameBall {
    width: 20px;
    height: 20px;
    position: fixed;
    display: block;
}

.evilBall {
    /* background-image: url("data:image/svg+xml;utf8,<svg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='114.562px' height='114.56px' viewBox='0 0 114.562 114.56' enable-background='new 0 0 114.562 114.56' xml:space='preserve'><rect x='28.945' y='0.5' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.387' /><rect x='57.333' y='0.5' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='0.558' y='28.887' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='28.945' y='28.887' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='57.333' y='28.887' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='85.721' y='28.887' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='85.721' y='57.274' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='57.333' y='57.274' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='28.945' y='57.274' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='0.558' y='57.274' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /><rect x='28.945' y='85.66' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.387' /><rect x='57.333' y='85.662' fill='%23ED1F24' stroke='%23000000' stroke-miterlimit='10' width='28.388' height='28.386' /></svg>"); */
    /* background-size: contain; */
    background-color: red;
}

.gameBall {
    background-color: blue;
}


.menu {
    display: none;
    border: 4px solid #5EB1BF;
    border-radius: 4px;
    color: #5EB1BF;
    padding: 20px;
    border-radius: 4px;
    width: 400px;
    margin: 0 auto;
    margin-top: 15%;
    text-align: center;
    /* background-color: #5EB1BF; */
    box-shadow: 3px 3px 5px #cfcfcf;

}